{% extends "blog/base.html" %}

{% block title %}About{% endblock %}

{% block content %}

<div class="col-md-8 m-auto">
    <div class="content-section">
        <h1>About page</h1>
        <br>
        <p># Gobinath - Django Backend Developer</p>

           <p>I am a passionate Django backend developer with [2 years] of experience in building robust, scalable web applications. My expertise lies in designing RESTful APIs, integrating third-party services, and optimizing database performance. I thrive in collaborative environments, leveraging Agile methodologies to deliver high-quality software that meets user needs.
            
            With a strong foundation in Python and a deep understanding of Django’s ecosystem, I have successfully developed and deployed applications that enhance user experiences. I’m committed to continuous learning and staying updated with industry trends, ensuring my skills remain sharp and relevant.
            
            In my portfolio, you’ll find examples of my work, including projects that showcase my ability to solve complex problems and implement best practices in software development.
        </p> 
            ## Projects
            <p>
            ### 1. Thaagam
            An innovative platform designed to solve [problem] using Django and RESTful APIs. I focused on optimizing the database for faster data retrieval and integrated third-party services for smooth transactions.
        </p>
        <p>
            ### 2. Lotels Residency
            A comprehensive booking system for a hotel, built with Django. The project involved designing a user-friendly interface for managing reservations, integrating payment gateways, and ensuring data security.
        </p>
        <p>
            ### 3. Custom Song Project
            A personalized music platform where users can request custom songs. I worked on building APIs for handling user requests and incorporated advanced filtering for personalized song recommendations.
        </p>    
            ---
            
            **Made with 💖 by Gobinath ✌**
            </p>



        
        
    </div>
</div>


{% endblock %}